Repository smithy-lang/smithy-kotlin, pull requests merged in 2025-01, with the labels that each got.

#1199 fix: correctly serialize subset of shape's members when configured
  codegen/smithy-aws-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/aws/protocols/core/QueryHttpBindingProtocolGenerator.kt
  codegen/smithy-aws-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/aws/protocols/RpcV2CborTest.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/serde/CborSerializerGenerator.kt
Labels: no-changelog

#1205 misc: catch up to main
  CHANGELOG.md
  codegen/smithy-aws-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/aws/protocols/core/QueryHttpBindingProtocolGenerator.kt
  codegen/smithy-aws-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/aws/protocols/RpcV2CborTest.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/protocol/HttpProtocolUnitTestRequestGenerator.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/serde/CborSerializerGenerator.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/serde/SerializeStructGenerator.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/rendering/serde/SerializeStructGeneratorTest.kt
  gradle.properties
  runtime/runtime-core/jvm/src/aws/smithy/kotlin/runtime/content/ByteStreamJVM.kt
  runtime/runtime-core/jvm/test/aws/smithy/kotlin/runtime/content/ByteStreamJVMTest.kt
  runtime/serde/serde-xml/common/src/aws/smithy/kotlin/runtime/serde/xml/XmlSerializer.kt
Labels: no-changelog

#1209 chore: add *-main to branch workflows
  .github/workflows/api-compat-verification.yml
  .github/workflows/artifact-size-metrics.yml
  .github/workflows/changelog-verification.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/dependabot.yml
  .github/workflows/kat-transform.yml
  .github/workflows/lint.yml
Labels: no-changelog

#1213 chore: smithy version bump
  codegen/protocol-tests/model/error-correction-tests.smithy
  codegen/smithy-aws-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/aws/protocols/core/AwsHttpBindingProtocolGenerator.kt
  gradle/libs.versions.toml
Labels: no-changelog

#1212 feat: add `AuthTokenGenerator`
  runtime/auth/aws-signing-common/api/aws-signing-common.api
  runtime/auth/aws-signing-common/common/src/aws/smithy/kotlin/runtime/auth/awssigning/AuthTokenGenerator.kt
  runtime/auth/aws-signing-common/common/test/aws/smithy/kotlin/runtime/auth/awssigning/AuthTokenGeneratorTest.kt
Labels: no-changelog, acknowledge-artifact-size-increase

#1214 kn: implement `SdkBuffer`
  runtime/crt-util/jvm/src/aws/smithy/kotlin/runtime/crt/ReadChannelBodyStreamJvm.kt
  runtime/runtime-core/api/runtime-core.api
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/content/ByteStream.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/io/BufferedSinkAdapter.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/io/BuffereredSourceAdapter.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/io/Exceptions.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/io/SdkByteReadChannel.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/io/SdkSource.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/io/internal/BufferOperations.kt
  runtime/runtime-core/common/test/aws/smithy/kotlin/runtime/io/ByteArraySourceTest.kt
  runtime/runtime-core/common/test/aws/smithy/kotlin/runtime/io/HashingByteReadChannelTest.kt
  runtime/runtime-core/common/test/aws/smithy/kotlin/runtime/io/HashingSinkTest.kt
  runtime/runtime-core/common/test/aws/smithy/kotlin/runtime/io/HashingSourceTest.kt
  runtime/runtime-core/common/test/aws/smithy/kotlin/runtime/io/ObserversTest.kt
  runtime/runtime-core/common/test/aws/smithy/kotlin/runtime/io/SdkBufferedSinkTest.kt
  runtime/runtime-core/common/test/aws/smithy/kotlin/runtime/io/SdkBufferedSourceTest.kt
  runtime/runtime-core/common/test/aws/smithy/kotlin/runtime/io/SdkByteChannelSuspendTest.kt
  runtime/runtime-core/common/test/aws/smithy/kotlin/runtime/io/SdkByteChannelTest.kt
  runtime/runtime-core/jvm/src/aws/smithy/kotlin/runtime/content/ByteStreamJVM.kt
  runtime/runtime-core/jvm/src/aws/smithy/kotlin/runtime/io/BufferedSinkAdapterJVM.kt
  runtime/runtime-core/jvm/src/aws/smithy/kotlin/runtime/io/BufferedSourceAdapterJVM.kt
  runtime/runtime-core/jvm/src/aws/smithy/kotlin/runtime/io/ExceptionsJVM.kt
  runtime/runtime-core/jvm/src/aws/smithy/kotlin/runtime/io/JavaIO.kt
  runtime/runtime-core/jvm/src/aws/smithy/kotlin/runtime/io/SdkBufferedSinkJVM.kt
  runtime/runtime-core/jvm/src/aws/smithy/kotlin/runtime/io/SdkBufferedSourceJVM.kt
  runtime/runtime-core/jvm/src/aws/smithy/kotlin/runtime/io/SdkSourceJVM.kt
  runtime/runtime-core/jvmAndNative/src/aws/smithy/kotlin/runtime/io/BufferedSinkAdapterJvmAndNative.kt
  runtime/runtime-core/jvmAndNative/src/aws/smithy/kotlin/runtime/io/BufferedSourceAdapterJvmAndNative.kt
  runtime/runtime-core/jvmAndNative/src/aws/smithy/kotlin/runtime/io/SdkBufferJvmAndNative.kt
  runtime/runtime-core/jvmAndNative/src/aws/smithy/kotlin/runtime/io/SdkBufferedSinkJvmAndNative.kt
  runtime/runtime-core/jvmAndNative/src/aws/smithy/kotlin/runtime/io/SdkBufferedSourceJvmAndNative.kt
  runtime/runtime-core/native/src/aws/smithy/kotlin/runtime/io/BufferedSinkAdapterNative.kt
  runtime/runtime-core/native/src/aws/smithy/kotlin/runtime/io/BufferedSourceAdapterNative.kt
  runtime/runtime-core/native/src/aws/smithy/kotlin/runtime/io/ExceptionsNative.kt
  runtime/runtime-core/native/src/aws/smithy/kotlin/runtime/io/SdkBufferNative.kt
  runtime/runtime-core/native/src/aws/smithy/kotlin/runtime/io/SdkSourceNative.kt
  runtime/runtime-core/native/src/aws/smithy/kotlin/runtime/io/internal/SdkDispatchersNative.kt
Labels: no-changelog, acknowledge-api-break

#1200 feat: Kotlin/Native implementation of BigDecimal and BigInteger
  gradle.properties
  gradle/libs.versions.toml
  runtime/build.gradle.kts
  runtime/runtime-core/api/runtime-core.api
  runtime/runtime-core/build.gradle.kts
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/content/BigDecimal.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/content/BigInteger.kt
  runtime/runtime-core/common/test/aws/smithy/kotlin/runtime/content/BigIntegerTest.kt
  runtime/runtime-core/jvm/src/aws/smithy/kotlin/runtime/content/BigDecimalJVM.kt
  runtime/runtime-core/jvm/src/aws/smithy/kotlin/runtime/content/BigIntegerJVM.kt
  runtime/runtime-core/native/src/aws/smithy/kotlin/runtime/content/BigDecimalNative.kt
  runtime/runtime-core/native/src/aws/smithy/kotlin/runtime/content/BigIntegerNative.kt
Labels: no-changelog, acknowledge-api-break

#1219 misc: bump aws-crt-kotlin version
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/core/KotlinDependency.kt
  gradle/libs.versions.toml
Labels: no-changelog

#1218 misc: merge v1.4 into main
  .brazil.json
  .changes/0857b6f0-0444-479f-be6b-06ef71d482a0.json
  .changes/1a68d0b7-00e7-45c0-88f6-95e5c39c9c61.json
  .changes/3456d00f-1b29-4d88-ab02-045db1b1ebce.json
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/core/KotlinDependency.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/waiters/WaiterGenerator.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/rendering/waiters/ServiceWaitersGeneratorTest.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/rendering/waiters/WaiterGeneratorTest.kt
  gradle/libs.versions.toml
  runtime/auth/aws-signing-tests/jvm/src/aws/smithy/kotlin/runtime/auth/awssigning/tests/SigningSuiteTestBaseJVM.kt
  runtime/runtime-core/api/runtime-core.api
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/Exceptions.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/collections/Attributes.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/retries/Exceptions.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/retries/StandardRetryStrategy.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/retries/delay/StandardRetryTokenBucket.kt
  runtime/runtime-core/common/test/aws/smithy/kotlin/runtime/ExceptionsTest.kt
  runtime/runtime-core/jvm/test/aws/smithy/kotlin/runtime/retries/impl/StandardRetryIntegrationTest.kt
  tests/compile/src/test/kotlin/software/amazon/smithy/kotlin/codegen/util/TestUtils.kt
Labels: no-changelog, acknowledge-api-break

#1191 feat: support default checksums
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/core/RuntimeTypes.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/checksums/HttpChecksumRequiredIntegration.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/protocol/HttpProtocolClientGenerator.kt
  codegen/smithy-kotlin-codegen/src/main/resources/META-INF/services/software.amazon.smithy.kotlin.codegen.integration.KotlinIntegration
  runtime/protocol/http-client/api/http-client.api
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/interceptors/CachingChecksumInterceptor.kt
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/interceptors/ChecksumInterceptorUtils.kt
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/interceptors/FlexibleChecksumsRequestInterceptor.kt
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/interceptors/FlexibleChecksumsResponseInterceptor.kt
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/interceptors/HttpChecksumRequiredInterceptor.kt
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/interceptors/Md5ChecksumInterceptor.kt
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/operation/HttpOperationContext.kt
  runtime/protocol/http-client/common/test/aws/smithy/kotlin/runtime/http/interceptors/CachingChecksumInterceptorTest.kt
  runtime/protocol/http-client/common/test/aws/smithy/kotlin/runtime/http/interceptors/FlexibleChecksumsRequestInterceptorTest.kt
  runtime/protocol/http-client/common/test/aws/smithy/kotlin/runtime/http/interceptors/FlexibleChecksumsResponseInterceptorTest.kt
  runtime/protocol/http-client/common/test/aws/smithy/kotlin/runtime/http/interceptors/HttpChecksumRequiredInterceptorTest.kt
  runtime/protocol/http/api/http.api
  runtime/protocol/http/common/src/aws/smithy/kotlin/runtime/http/HttpBody.kt
  runtime/runtime-core/api/runtime-core.api
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/businessmetrics/BusinessMetricsUtils.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/hashing/HashFunction.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/io/SdkByteReadChannel.kt
  runtime/smithy-client/api/smithy-client.api
  runtime/smithy-client/common/src/aws/smithy/kotlin/runtime/client/config/HttpChecksumConfig.kt
Labels: no-changelog, acknowledge-api-break, acknowledge-artifact-size-increase

#1220 fix: add 0.9.x aws-crt-kotlin transform
  .brazil.json
Labels: no-changelog

#1222 fix: Ensure `Host` header is included when signing auth tokens
  .github/workflows/continuous-integration.yml
  gradle/libs.versions.toml
  runtime/auth/aws-signing-common/common/src/aws/smithy/kotlin/runtime/auth/awssigning/AuthTokenGenerator.kt
  runtime/auth/aws-signing-common/common/test/aws/smithy/kotlin/runtime/auth/awssigning/AuthTokenGeneratorTest.kt
Labels: no-changelog

#1221 fix: overhaul endpoint discovery
  .changes/49af01b8-6fed-4add-ace0-9f027e83425a.json
  .changes/e6515649-dab5-4be9-b4b4-b289369960d5.json
  codegen/smithy-kotlin-codegen-testutils/src/main/kotlin/software/amazon/smithy/kotlin/codegen/test/ModelTestUtils.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/CodegenVisitor.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/core/AbstractCodeWriterExt.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/core/CodegenContext.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/core/KotlinDelegator.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/core/RuntimeTypes.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/ExceptionBaseClassGenerator.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/endpoints/discovery/DefaultEndpointDiscovererGenerator.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/endpoints/discovery/EndpointDiscovererInterfaceGenerator.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/endpoints/discovery/EndpointDiscoveryIntegration.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/core/KotlinDelegatorTest.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/rendering/ExceptionGeneratorTest.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/rendering/endpoints/discovery/DefaultEndpointDiscovererGeneratorTest.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/rendering/endpoints/discovery/EndpointDiscovererGeneratorTest.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/rendering/endpoints/discovery/EndpointDiscovererInterfaceGeneratorTest.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/rendering/endpoints/discovery/EndpointDiscoveryIntegrationTest.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/rendering/endpoints/discovery/EndpointDiscoveryTestUtils.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/rendering/waiters/ServiceWaitersGeneratorTest.kt
  runtime/protocol/http-client/api/http-client.api
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/interceptors/DiscoveredEndpointErrorInterceptor.kt
  runtime/runtime-core/api/runtime-core.api
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/collections/ExpiringKeyedCache.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/collections/PeriodicSweepCache.kt
  runtime/runtime-core/common/test/aws/smithy/kotlin/runtime/collections/PeriodicSweepCacheTest.kt
Labels: acknowledge-api-break

#1216 kn: merge from main
  .brazil.json
  .github/workflows/api-compat-verification.yml
  .github/workflows/artifact-size-metrics.yml
  .github/workflows/changelog-verification.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/dependabot.yml
  .github/workflows/kat-transform.yml
  .github/workflows/lint.yml
  .gitignore
  CHANGELOG.md
  codegen/protocol-tests/model/error-correction-tests.smithy
  codegen/smithy-aws-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/aws/protocols/core/AwsHttpBindingProtocolGenerator.kt
  codegen/smithy-aws-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/aws/protocols/core/QueryHttpBindingProtocolGenerator.kt
  codegen/smithy-aws-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/aws/protocols/RpcV2CborTest.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/core/KotlinDependency.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/core/RuntimeTypes.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/checksums/HttpChecksumRequiredIntegration.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/protocol/HttpProtocolClientGenerator.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/serde/CborSerializerGenerator.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/waiters/WaiterGenerator.kt
  codegen/smithy-kotlin-codegen/src/main/resources/META-INF/services/software.amazon.smithy.kotlin.codegen.integration.KotlinIntegration
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/rendering/waiters/ServiceWaitersGeneratorTest.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/rendering/waiters/WaiterGeneratorTest.kt
  gradle.properties
  gradle/libs.versions.toml
  runtime/auth/aws-signing-common/api/aws-signing-common.api
  runtime/auth/aws-signing-common/common/src/aws/smithy/kotlin/runtime/auth/awssigning/AuthTokenGenerator.kt
  runtime/auth/aws-signing-common/common/test/aws/smithy/kotlin/runtime/auth/awssigning/AuthTokenGeneratorTest.kt
  runtime/auth/aws-signing-tests/jvm/src/aws/smithy/kotlin/runtime/auth/awssigning/tests/SigningSuiteTestBaseJVM.kt
  runtime/protocol/http-client/api/http-client.api
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/interceptors/CachingChecksumInterceptor.kt
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/interceptors/ChecksumInterceptorUtils.kt
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/interceptors/FlexibleChecksumsRequestInterceptor.kt
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/interceptors/FlexibleChecksumsResponseInterceptor.kt
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/interceptors/HttpChecksumRequiredInterceptor.kt
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/interceptors/Md5ChecksumInterceptor.kt
  runtime/protocol/http-client/common/src/aws/smithy/kotlin/runtime/http/operation/HttpOperationContext.kt
  runtime/protocol/http-client/common/test/aws/smithy/kotlin/runtime/http/interceptors/CachingChecksumInterceptorTest.kt
  runtime/protocol/http-client/common/test/aws/smithy/kotlin/runtime/http/interceptors/FlexibleChecksumsRequestInterceptorTest.kt
  runtime/protocol/http-client/common/test/aws/smithy/kotlin/runtime/http/interceptors/FlexibleChecksumsResponseInterceptorTest.kt
  runtime/protocol/http-client/common/test/aws/smithy/kotlin/runtime/http/interceptors/HttpChecksumRequiredInterceptorTest.kt
  runtime/protocol/http/api/http.api
  runtime/protocol/http/common/src/aws/smithy/kotlin/runtime/http/HttpBody.kt
  runtime/runtime-core/api/runtime-core.api
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/Exceptions.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/businessmetrics/BusinessMetricsUtils.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/collections/Attributes.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/hashing/HashFunction.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/io/SdkByteReadChannel.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/retries/Exceptions.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/retries/StandardRetryStrategy.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/retries/delay/StandardRetryTokenBucket.kt
  runtime/runtime-core/common/test/aws/smithy/kotlin/runtime/ExceptionsTest.kt
  runtime/runtime-core/jvm/test/aws/smithy/kotlin/runtime/retries/impl/StandardRetryIntegrationTest.kt
  runtime/smithy-client/api/smithy-client.api
  runtime/smithy-client/common/src/aws/smithy/kotlin/runtime/client/config/HttpChecksumConfig.kt
  tests/compile/src/test/kotlin/software/amazon/smithy/kotlin/codegen/util/TestUtils.kt
Labels: no-changelog, acknowledge-api-break

#1223 fix: address various failing protocol tests
  codegen/protocol-tests/model/error-correction-tests.smithy
  codegen/smithy-aws-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/aws/protocols/core/AwsHttpBindingProtocolGenerator.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/core/KotlinSymbolProvider.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/StructureGenerator.kt
  codegen/smithy-kotlin-codegen/src/main/kotlin/software/amazon/smithy/kotlin/codegen/rendering/protocol/HttpStringValuesMapSerializer.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/core/SymbolProviderTest.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/rendering/protocol/HttpBindingProtocolGeneratorTest.kt
  codegen/smithy-kotlin-codegen/src/test/kotlin/software/amazon/smithy/kotlin/codegen/rendering/protocol/HttpStringValuesMapSerializerTest.kt
  gradle/libs.versions.toml
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/text/encoding/Base64.kt
  runtime/runtime-core/common/test/aws/smithy/kotlin/runtime/text/encoding/Base64Test.kt
Labels: no-changelog

#1224 misc: re-enable `kotlinWarningsAsErrors=true`
  .github/workflows/continuous-integration.yml
  runtime/protocol/http-client-engines/http-client-engine-okhttp/jvm/src/aws/smithy/kotlin/runtime/http/engine/okhttp/MetricsInterceptor.kt
  runtime/protocol/http-client-engines/http-client-engine-okhttp/jvm/src/aws/smithy/kotlin/runtime/http/engine/okhttp/OkHttpEngine.kt
  runtime/protocol/http-client-engines/http-client-engine-okhttp/jvm/src/aws/smithy/kotlin/runtime/http/engine/okhttp/OkHttpUtils.kt
  runtime/protocol/http-client-engines/http-client-engine-okhttp4/jvm/src/aws/smithy/kotlin/runtime/http/engine/okhttp4/OkHttp4Engine.kt
  runtime/runtime-core/common/src/aws/smithy/kotlin/runtime/util/JMESPath.kt
Labels: no-changelog
